@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Что-то пошло не так.</h2>


    <p>
        <h4><strong>@Model.Error</strong></h4>
    </p>
